<div class="d-flex justify-content-center" *ngIf="mode">
  <div class="col-12 col-lg-5">
    <main class="form-signin">
      <form
        [formGroup]="emailForm"
        class="form-signin"
        (ngSubmit)="sendEmail()"
        autocomplete="off"
      >
        <div class="text-center mb-4">
          <h1 class="mb-3 font-weight-normal">
            <span *ngIf="mode.includes('resend-email-confirmation-link')">
              Resend email confirmation link
            </span>
            <span *ngIf="mode.includes('forgot-username-or-password')">
              Retrieve your username or password
            </span>
          </h1>
        </div>

        <!-- Email -->
        <div class="form-floating mb-3">
          <input
            formControlName="email"
            type="email"
            placeholder="Email"
            class="form-control"
            [class.is-invalid]="submitted && emailForm.get('email')?.errors"
          />
          <label for="email">Email</label>
          <span
            class="text-danger"
            *ngIf="submitted && emailForm.get('email')?.hasError('required')"
          >
            Email is required
          </span>
          <span
            class="text-danger"
            *ngIf="submitted && emailForm.get('email')?.hasError('pattern')"
          >
            "Invalid email"
          </span>
        </div>

        <!-- Get All messages -->
        <div class="form-floating" *ngIf="errorMessages.length > 0">
          <app-validation-messages
            [errorMessages]="errorMessages"
          ></app-validation-messages>
        </div>

        <!-- Send Email button -->
        <div class="row">
          <div class="col-6">
            <div class="d-grid">
              <button
                class="btn btn-block btn-success"

                type="submit"
              >
                Send
              </button>
            </div>
          </div>
          <!-- Cancel button -->
          <div class="col-6">
            <div class="d-grid">
              <button
                class="btn btn-block btn-danger"
                (click)="cancel()"
                type="submit"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </form>
    </main>
  </div>
</div>
